.top-buttons-ul {
    margin-bottom: 0;
}

.top-buffer {
    margin-top: 20px;
}

.children-category.hide {
    display: none;
}

span.have-children {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
    color:#337ab7;
}

.float-right {
    float: right;
}

div.categories-list:hover {
    background-color: #f5f5f5;
}